<div class="container">
    <div class="row">

  	<p id="notice"><%= notice %></p>

<strong>
	<h1>Welcome to
	<span class="glyphicon glyphicon-align-center" aria-hidden="true"></span> Bookers !!</h1>
</strong>

<p>In <span class="glyphicon glyphicon-tree-conifer" aria-hidden="true"></span>Bookers,</p>
<P>you can share and exchange your opinions,inpressions,<br>
and emotions about various books!</P><br>

<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-default btn-lg" %>
    </div>
</div>