<div class="container">

  <div class="row">

<strong>
	<h1>Welcome to
	<span class="glyphicon glyphicon-align-center" aria-hidden="true"></span> Bookers !!</h1>
</strong>

<p>In <span class="glyphicon glyphicon-tree-conifer" aria-hidden="true"></span>Bookers,</p>
<P>you can share and exchange your opinions,inpressions,<br>
and emotions about various books!</P><br>

<%= link_to new_user_session_path do %>
<div class= "btn btn-default">
	<p>Log in</p>
</div>
<% end %>
<%= link_to new_user_registration_path do %>
<div class= "btn btn-default">
	<p>Sign Up</p>
</div>
<% end %>

</div>
</div>